#!/usr/bin/make -f

export V=1

# Ubuntu ld adds -Bsymbolic-functions by default, but that prevents FFmpeg from building.
export DEB_LDFLAGS_MAINT_STRIP=-Wl,-Bsymbolic-functions
DEB_BUILD_OPTIONS=nocheck

# Use the default debhelper scripts, where possible.
%:
	dh $@
override_dh_auto_build:
		echo "disabled"

override_dh_build:
		echo "disabled"

override_dh_auto_clean:
		echo "disabled"

# Add configuration options:
override_dh_auto_configure:
		echo "disabled"

override_dh_install:
	dh_install

override_dh_dwz:
	dh_dwz -Xlibavcodec -Xlibavfilter -Xlibavutil -Xlibswresample -Xlibswscale
